<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let user of users | async" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <ion-avatar>
              <img [src]="user.picture.medium">
            </ion-avatar>
            <h1>{{ user.name.first }} {{ user.name.last}}</h1>
            <h2>Nickname: {{user.login.username}}</h2>
            <h2> City: {{user.location.city}}</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem ut erat tincidunt finibus nec sed nisi.
            Maecenas molestie metus sed orci facilisis, convallis pretium sem congue.
            Vivamus elit massa, dapibus id aliquam eu, semper at tortor.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Vestibulum ut ultricies ipsum. Aliquam tempor placerat felis, at porttitor purus pharetra ac.
            Suspendisse nec massa quis elit fermentum suscipit non quis neque.
            <h2>Age: {{user.dob.age}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
